.top-container{
    height: 698px;
}
.header-bike{
    width: 552px;
    height: 447px;
}
.feature-bike{
    width: 288px;
    height: 243px;
}
.feature-bike-grayscale{
    width: 288px;
    height: 243px;
    filter: grayscale(100%);
}
.client-div{
    width: 310px;
    height: 464px;
    margin-right: 43px;
}
.client-img{
    width: 149px;
    height: 149px;
}
.faq-img{
    width: 431px;
    height: 423px;
}
.honda-video{
    width: 560px;
    height: 315px;
}